    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>Anthony Nowell</title>
    {% endif %}
    <meta name="author" content="Anthony Nowell">
    <meta name="description" content="{{ page.description }}">
    {% if page.collection == "posts" %}
      <meta property="og:type" content="article" />
      <meta property="og:url" content="{{ site.base_url }}/{{ page.permalink }}">
      <meta property="og:type" content="website">
      <meta property="og:title" content="{{ page.title }}" />
      <meta property="og:image" content="{{ site.base_url }}{{ page.data.image_path }}" />
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@atnowell" />
      <meta name="twitter:title" content="{{ page.title }}" />
      <meta name="twitter:description" content="{{ page.description }}" />
      <meta name="twitter:image" content="{{ site.base_url }}{{ page.data.image_path }}" />
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/railscasts.min.css">
    {% if page.data.extra_css %}
      <link rel="stylesheet" href="{{ page.data.extra_css }}">
    {% endif %}
