<!DOCTYPE html>
<html>
  <head>
    {% if is_post %}
      <title>{{ title }}</title>
    {% else %}
      <title>Anthony Nowell</title>
    {% endif %}
    <meta name="description" content="{{ title }} by Anthony Nowell">
    <meta name="author" content="Anthony Nowell">
    <meta property="og:type" content="article" />
    {% if is_post %}
      <meta property="og:title" content="{{ title }} by Anthony Nowell" />
      <meta property="og:image" content="{{ cover }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/railscasts.min.css">
  </head>
  <body>
    {% if is_post %}
      <div style="position: relative;">
        <div class="cover" style="background-image: url({{ cover }}); background-position: center;"></div>
        <div class="top-nav">
          <a href="/"><i class="fa fa-chevron-circle-left"></i></a>
        </div>
      </div>
    {% endif %}
    <div>
      {% if is_post %}
        {% include '_layouts/post.liquid' %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
