<div class="container">
  <div class="post">
    <h2>{{ title }}</h2>
    <h6 style="margin-top: -10px;">{{ date }}</h6>
    <p>
      {{content}}
    </p>

  </div>
</div>

<hr>

<div class="container" style="text-align: center;">
  <p><i>-- by Anthony Nowell --</i></p>

  <p>
    Let me know what you think, or share it yourself:
    <a href="https://twitter.com/share?text={{ title }} via @atnowell&url={{ base_url }}/{{ path }}" target="_blank"><i class="fa fa-twitter"></i> Tweet @atnowell</a>
  </p>
</div>